<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/myAjax.js"></script>

    <link rel="shortcut icon" href="/icon/icon_img.ico">
    <title>GraduationWork | <%= @title %></title>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
