<main>

  <div id = "content_left">
    <img src="/imgs/re_pakuri.png">
  </div>

  <div id = "content_right">

    <div id = "form_waku" class="animated fadeInUp">

      <form action="/login" method="post">

        アカウント： <input type="text" name="name" required><br>
        パスワード： <input type="password" name="pass" required>

        <input type="submit" value="ログイン">
      </form>

    </div>

    <div id = "link_signup" class="animated fadeInDown">
      <a href="/signup">>&nbsp;アカウント作成</a>
    </div>

    <br>
    <br>
    <%= @flash %>

  </div>

</main>

<footer>

  <ul>
    <li>このサービスについて</li>
    <li>ヘルプセンター</li>
    <li>ブログ</li>
    <li>ステータス</li>
    <li>規約</li>
    <li>プライバシーポリシー</li>
    <li>クッキー</li>
    <li>マーケティング</li>
    <li>プロフィール</li>
  </ul>

</footer>
